<!DOCTYPE html>
<html ng-app="AspectJML">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="style/reset.css">
        <link rel="stylesheet" href="vendor/codemirror/lib/codemirror.css">
        <link rel="stylesheet" href="vendor/codemirror/theme/eclipse.css">
        <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap-theme.css">
        <link rel="stylesheet" href="vendor/nprogress/nprogress.css">
        <link rel="stylesheet" href="style/style.css">

        <title>AspectJML Online</title>

        <script src="vendor/codemirror/lib/codemirror.js"></script>
        <script src="vendor/codemirror/mode/javascript/javascript.js"></script>
        <script src="vendor/jquery/js/jquery-3.1.1.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.js"></script>
        <script src="vendor/angular/angular.min.js"></script>
        <script src="vendor/nprogress/nprogress.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers/form.js"></script>
    </head>
    <body>
        <form ng-controller="FormCtrl as form" ng-submit="compile()">
            <div id="nav-editor">
                <textarea id="editor"></textarea>
            </div>
            <div id="nav-options">
            </div>
            <footer>
                <div clss="output" id="tabs">
                  <ul class="nav nav-tabs" id="tabs">
                    <li ng-class="{'active' : isSelected('Main.java')}" id="tab-main" ng-click="selectTab('Main.java')" ng-dblclick="renameTab('Main.java')">
                      <a href="#" data-toggle="pill">
                        Main.java
                      </a>
                    </li>
                    <li ng-repeat="tab in tabs" ng-class="{'active' : isSelected(tab)}" id="tab" ng-click="selectTab(tab)" ng-dblclick="renameTab(tab)">
                      <a href="#">
                        <button class="close closeTab" type="button" ng-click="removeTab(tab)">
                          ×
                        </button>
                        <input  ng-value="tab" type="text" ng-model="inputValue" ng-click="$event.stopPropagation()" ng-keypress="renameEnter($event, tab, inputValue)" ng-show="renTab === tab"></input>
                        <span ng-show="renTab != tab">{{tab}}</span>
                      </a>
                    </li>
                    <li id="li-add-tab"><a href="#" id="add-tab"  data-toggle="modal" data-target="#newTabModal">+</a></li>
                  </ul>
                </div>
                <div class="output">
                    <textarea id="console_output" rows="8" data-role="none" class="form-control" readonly>Output do compilador aqui</textarea>
                    <button ng-disabled="compiling" on-keyup="bla" keys="[13]" type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-console" aria-hidden="true"></span>
                        Run
                    </button>
                    <button id="comp-options" ng-disabled="compiling" on-keyup="bla" keys="[13]" type="button" class="btn btn-default" data-toggle="modal" data-target="#optionsModal">
                        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                        Options
                    </button>
                    <button on-keyup="bla" keys="[13]" type="button" class="btn btn-default" ng-click="addCompilerOutputTab()">
                        <span class="glyphicon glyphicon-scale" aria-hidden="true"></span>
                        Compiler Output
                    </button>
                </div>
            </footer>
            <!-- Modal -->
            <div id="optionsModal" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Options</h4>
                  </div>
                  <div class="modal-body">
                      <div class="form-group">
                        <label for="compiler-name" class="form-control-label">Compiler:</label>
                        <label class="radio-inline"><input type="radio" name="optradio" ng-model="compiler" ng-value="ASPECT_JML_COMPILER">AspectJML 1.7</label>
                        <label class="radio-inline"><input type="radio" name="optradio" ng-model="compiler" ng-value="JDK_COMPILER">Java 7</label>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <div id="newTabModal" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Creating a new Java file</h4>
                  </div>
                  <div class="modal-body">
                    <span>Name:</span>
                    <input id="textClassName" class="form-control" placeholder="Tab.java" type="text" ng-model="newTabName">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"  ng-click="addTab(newTabName)">Save</button>
                  </div>
                </div>
              </div>
            </div>
        </form>
        <script>
            var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
                lineNumbers: true,
                styleActiveLine: true,
                matchBrackets: true,
                value: "var example = \"type here\"",
                mode: "javascript",
                lineWrapping: true
            });

            var height = isNaN(window.innerHeight) ? window.clientHeight : window.innerHeight;
            editor.setSize("100%", height - 180);
        </script>
    </body>
</html>
